body{
    font-family:calibri;
    background-color:rgb(22, 145, 245);
    color:white;
}

.page{
    width:70%;
    max-width:1300px;
    margin : 0 auto;
    background : rgba(0, 0, 0, 0.5);
    border-radius:10px;
    padding:30px;
    text-align : center;
}
.page *{
    box-sizing:border-box;
}
h1{
    align : center;
    font-size : 180%;
}
hr{
    background-color:#fafafa;
    border-top:3px double #8c8b8b;
}
.box{
    list-style-type:none;
    max-width:1000px;
    margin:0 auto;
    padding:0;
    font-size:120%;
}
.box li{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.box>li>label{
    flex:1 0 100px;
    max-width:220px;
}
.page li input[type="text"],.page li input[type="password"]{
    border : 0;
    background :whitesmoke;
    display : block;
    margin:20px auto;
    text-align : center;
    border : 2px solid #2459bb;
    padding :10px 10px;
    border-radius :20px;
    outline:none;  
    resize:vertical; 
}
.page li input[type="submit"]{
    border : 0;
    background :rgb(6, 170, 75);
    display : block;
    text-align : center;
    margin:20px auto;
    padding :10px 20px;
    border-radius :20px;
    outline:none;
    cursor:pointer;   
}
.page input[type="text"]:focus,.page input[type="password"]:focus{
    width:250px;
    border-color : #0ca732;
}
